.container
  %header
    %h2
      Moderate Nuggets
  %input.col-md-12#q{autocomplete: 'off', placeholder: 'Filter by...'}
  %table.table.table-striped.table-condensed
    %thead
      %tr
        %th Title
        %th Category
        %th{style: 'width: 200px'} Author
        %th{style: 'width: 200px'} Status
        %th.buttons{style: 'width: 200px'}
    %tbody
      - @nuggets.each do |nugget|
        %tr.nugget
          %th
            = link_to nugget.title, nugget_path(nugget)
          %td
            = link_to nugget.category.title, category_path(nugget.category)
          %td
            = link_to nugget.user.name, user_path(nugget.user)
          %td
            - if nugget.approved?
              = 'Approved'
            - else
              = 'Not Approved'
          %td= render partial: 'nugget_edit_menu', locals: {nugget: nugget}