.container
  %header
    %h2
      Manage Nuggets
      %span
        = link_to 'New Nugget', new_nugget_path, class: 'btn btn-primary'
  %input.col-md-12#q{autocomplete: 'off', placeholder: 'Filter by...'}
  %table.table.table-striped.table-condensed
    %thead
      %tr
        %th Title
        %th Category
        %th{style: 'width: 200px'} Author
        %th{style: 'width: 200px'} Status
        %th.buttons{style: 'width: 200px'}
    %tbody
      - @nuggets.each do |nugget|
        %tr.nugget
          %th
            = link_to nugget.title, nugget_path(nugget)
          %td
            %ul.list-unstyled
              %li= link_to Category.first.title
          %td
            = nugget.user.name
          %td
            nugget status
          %td= render partial: 'nugget_edit_menu', locals: {nugget: nugget}