.container
  .panel.panel-default
    .panel-heading
      %h4= @nugget.title
      %h5= "Category: " + @nugget.category.title
      %h5= "Contributor: " + @nugget.user.name
    .panel-body

      .col-md-6
        - @nugget.images.each do |content|
          %h5= content.title
          %h6= content.caption
          %img{src: "/images/#{content._id}", width: "400px" }

      .col-md-6
        %p= @nugget.content
        - @nugget.locations.each do |location|
          %h5 Location
          %p= location.address
          %p= "#{location.latitude}, #{location.longitude}"

    .panel-footer
      - unless current_user.nil?
        = link_to 'Edit Nugget', edit_nugget_path(@nugget), class: 'btn btn-primary'
      = link_to 'Back', @nugget.category, class: 'btn btn-default'