<div class="container">
  <p id="notice"><%= notice %></p>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4><%= @nugget.title %></h4>
    </div>

    <div class="panel-body">
      <%= @nugget.title %>
    </div>

    <div class="panel-footer">
      <%= link_to 'Edit Nugget', edit_nugget_path(@nugget), class: 'btn btn-primary' %>
      <%= link_to 'Back', @nugget.category, class: 'btn btn-default' %>
    </div>
  </div>
</div>
