.btn-group
  %a.btn.btn-default{href: edit_user_path(user)}
    %i.glyphicon.glyphicon-edit
    Edit
  %button.btn.btn-default.dropdown-toggle{'data-toggle'=> 'dropdown', 'data-target' => '#', 'href' => '#'}
    %span.caret
    %span.sr-only Toggle Dropdown
  %nav.dropdown-menu
    %li= link_to 'Assign Moderation'
    %li= link_to 'Make Admin'
    %li= link_to 'Demote Admin'
    %li.divider
    %li= link_to 'Lock'
    %li= link_to 'Delete'
