.container
  %header
    %h2
      Manage Users
      %span
        = link_to 'New User', new_user_path, class: 'btn btn-primary'
  %input.col-md-12#q{autocomplete: 'off', placeholder: 'Filter by...'}
  %table.table.table-striped.table-condensed
    %thead
      %tr
        %th Name
        %th Email
        %th Categories
        %th.buttons
    %tbody
      - @users.each do |user|
        %tr.user
          %th
            = link_to user.name || user.email, user_path(user)
            -if user.admin?
              %label.btn-danger.btn-xs Admin
            -unless user.approved?
              %label.btn-primary.btn-xs Awaiting Approval
          %td= mail_to user.email
          %td
            %ul.list-unstyled
              %li= link_to Category.first.title
          %td= render partial: 'user_edit_menu', locals: {user: user}