.container
  %header
    %h2
      = @user.name || @user.email
      = render partial: 'user_edit_menu', locals: {user: @user} if current_user.admin?
  %aside
    %p= mail_to @user.email
    %p= @user.biography

  %h3 Nuggets
  %ul
    - Nugget.where(user_id: @user.id).each do |nugget|
      %li= link_to nugget.title, nugget_path