<div class="col-lg-4 col-lg-offset-4 down-50px">
  <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4>Change Your Password</h4>
    </div>
  </div>

  <div class="panel-body">
    <%= devise_error_messages! %>
    <%= f.hidden_field :reset_password_token %>

    <div class="form-group">
      <%= f.label :password, "New password" %>
      <%= f.password_field :password, :autofocus => true, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :password_confirmation, "Confirm new password" %>
      <%= f.password_field :password_confirmation, class: "form-control" %>
    </div>
  </div>

  <div class="panel-footer">
    <%= f.submit "Change my password", class: "btn btn-primary" %>
    <%= render "devise/shared/links" %>
  </div>
  <% end %>
</div>

