.container
  .panel.panel-success
    .panel-heading
      %h4 Available Categories

    .panel-body
      %table.table.table-striped.table-bordered
        %thead
          %tr
            %th Name
            %th Parent
            %th Child
            %th Status
            %th Actions
        %tbody
          - @categories.each do |category|
            %tr
              %td
                %h5= link_to category.title, category
              %td
                %h5= link_to category.parent, category.parent
              %td
                %h5  
              %td
                %h5  
              %td.action_column
                = link_to 'Show', category, class: "btn btn-default"
                = link_to 'Edit', edit_category_path(category), class: "btn btn-default"
                = link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default"
        %tfoot
          %tr
            %th{colspan: "5"}
              - if @categories.count == 0
                There are 0 categories in the system.  Click the "New Category" button to create one!
              - elsif @categories.count == 1
                There is 1 category in the system.
              - else
                There are #{@categories.count} categories in the system

    .panel-footer
      = link_to 'New Category', new_category_path, class: "btn btn-primary"