.container
  %header
    %h2 Add Category
  = form_for(@category, html: { :role => "form" }) do |f|
    - if @category.errors.any?
      #error_explanation.alert.alert-danger
        %h2
          = pluralize(@category.errors.count, "error")
          prohibited this category from being saved:
        %ul
          - @category.errors.full_messages.each do |msg|
            %li= msg
    .form-group
      = f.label :title, class: 'col-sm-2 control-label'
      .col-sm-10
        = f.text_field :title, class: 'form-control'
    .form-group
      = f.label :description, class: 'col-sm-2 control-label'
      .col-sm-10
        = f.text_area :description, class: 'form-control'

    = f.submit 'Save Category', class: 'btn btn-default'
    = link_to 'Back', :back, class: 'btn btn-default'