.container
  = render "crumbs"
  %header
    %h2
      = @category.title
      %span
        = render partial: 'category_edit_menu', locals: {category: @category}
    %p= @category.description
  %h3 Subcategories
  %ol
    - @category.children.each do |child_category|
      %li= link_to child_category.title, child_category
  %h3 Nuggets
  %ol
    - @category.descendants_and_self_nuggets.each do |nugget|
      %li= link_to nugget.title, nugget