= render "crumbs"
.container
  .panel.panel-primary
    .panel-heading
      %h2
        = @category.title
        %span.pull-right
          = render partial: 'category_edit_menu', locals: {category: @category} if policy(@category).may_admin?
          = link_to 'Create Nugget', new_category_nugget_path(@category), class: 'btn btn-default'

    .panel-body
      %p.col-lg-12
        = @category.description

      .col-md-6
        .list-group
          %a{href: "#", class: "list-group-item active", title: "Subcategories"}
            %h4.list-group-item-heading Moderators
            %p.list-group-item-text Moderators are individuals who ensure that content added to the system are quality in nature
          - if @category.moderators.empty?
            %div.list-group-item
              This category does not currently have an assigned moderator
          - else
            - @category.moderators.each do |moderator|
              %li.list-group-item
                = moderator.name

      .col-md-6
        .list-group
          %a{href: "#", class: "list-group-item active", title: "Subcategories"}
            %h4.list-group-item-heading Subcategories
            %p.list-group-item-text The following categories are children of the current category and can contain additional nuggets
          - if @category.children.empty?
            %div.list-group-item
              This category does not contain any subcategories
          - else
            - @category.children.each do |child_category|
              = link_to child_category.title, child_category, class: "list-group-item"

      %div.col-md-12
        .list-group
          %a{href: "#", class: "list-group-item active", title: "Subcategories"}
            %h4.list-group-item-heading Nuggets
          - if @category.approved_nuggets.empty?
            %div.list-group-item
              This category does not contain any nuggets
          - else
            - @category.approved_nuggets.each do |nugget|
              = link_to nugget.title, nugget, class: "list-group-item"

      = render 'moderation_queue', category: @category