<!DOCTYPE html>
<html>
<head>
  <title>Motherlode CMS</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render "partials/sitenav" %>
<%= render "partials/sitealert" %>

<%= yield %>


<%= link_to "Manage Users", User %> |
<%= link_to "Manage Categories", Category %> |
<%= link_to "Manage Nuggets", Nugget %> |
<%= link_to "Log out", destroy_user_session_path, :method => :delete %>
</body>
</html>
